* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
}

nav {
    border-bottom: 1px solid seashell;
    display: flex;
    height: 69px;
    width: 100%;
}

nav img {
    opacity: 0.4;
    padding-left: 10px;
    padding-top: 9px;
    height: 50px;
    align-items: center;
}

nav ul {
    display: inline-flex;
    list-style-type: none;
    margin-left: auto;
    align-items: center;
}

nav li {
    padding-right: 15px;
    text-decoration: underline;
    opacity: 0.4;
}

li:hover {
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}

.hero {
    display: flex;
    height: 700px;
    align-items: center;
    justify-content: center;
    background-image: url("../images/mission-background.jpg");
    background-position: center;
}

#mission {
    background-color: black;
    opacity: 0.7;
    min-height: 70px;
    width: 100%;
}

h2,h4 {
    text-align: center;
    opacity: 0.7;
}

.tea_month {
    text-align: center;
    opacity: 0.7;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    align-items: center;
    justify-content: center;
}

.tea_month h2,h4 {
    margin-top: 20px;
    width: 100%;
    padding: 20px;
}

.tea_month section {
    display: flex;
    width: 300px;
    height: 200px;
    justify-content: space-between;
}
